@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body{
    background-color: black;
}

body{
    background-image: url('../images/fond.png');
    background-size: 100%;
}



#mainconteneur #nwslogo{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px;
}

#mainconteneur .playbutton{
    margin-top: 80px;
    cursor: pointer;
    padding: 14px 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 15px;
    background-color: #e94a34;
    color: white;
    border: 0;
    font-size: 20px;
    font-family: "Fugaz One";
    transition: all 0.3s;
    text-decoration: none;
}

#wrap{
    padding: 0  0  0  20%;
    background-color: none;
    width: 70%;
    cursor: pointer;
    flex-wrap: wrap;
}

.specialites{
    margin-top: 12%;
    margin-right: 15%;
    border-radius: 15px;
    transition: all 0.3s;
    text-decoration: none;
}

button:hover{
    transform: scale(1.1);
}


 .playbutton{
    margin-top: 5%;
    cursor: pointer;
    padding: 14px 70px;
    border-radius: 15px;
    background-color: #e94a34;
    color: white;
    font-size: 20px;
    font-family: "Fugaz One";
    transition: all 0.3s;
}
  .playbutton:hover{
    transform: scale(1.1);
}


#mainconteneur #fullscreenbutton{
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: #e94a34;
    border-radius: 100%;
    padding: 0.5%;
    position: absolute;
    bottom: 15px;
}

#mainconteneur button:hover{
    transform: scale(1.1);
}
#title{
    font-family: 'Fugaz One';
    color: white;
    text-align: center;
    font-size: 200%;
}

#text{
    font-family: 'Fira Sans';
    color: white;
    text-align: center;
    margin-top: 80px;
    font-size: 140%;
    font-weight: 100;
    padding-left: 20%;
    padding-right: 20%;
}

a:visited{
    text-decoration: none; 
}
a:link{
    text-decoration: none; 
}

#mainconteneur #nwslogospe{
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 80px;
    width: 80px;
}