@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Fugaz one', Arial, Helvetica, sans-serif;
}


body{
    background-image: url('../images/background_accueil.jpg');
    background-repeat: no-repeat;
}

#find, #title{
  font-family: 'Fugaz One';
  margin-top: 1%;
  color: white;
  text-align: center;
  font-size: 140%;
}

.spetitle{
  font-size: 50%;
}

#findcolor{
  color: greenyellow;
}

h4{
  color: white;
}

/*carre de forme debut*/

.carre{
	box-sizing: border-box;
	width: 40em;
  color: #ffffff;
	padding: 2.5em 3em;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	border-radius: 10px;
	box-shadow: 0 9% 20% rgba(15, 50, 0, 0.2);
}

.jeux-container{
	position: relative;
	width: 100%;
	display: grid;
}


.stats-container {
  text-align: right;
  margin-bottom: 1.2em;
}
.stats-container span {
  font-weight: 600;
}
.card-container {
  position: relative;
  width: 8em;
  height: 8em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-before,
.card-after {
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 3px solid #000000;*/
  transition: transform 0.6s ease-out;
  backface-visibility: hidden;
}

#victorytitle{
  color: rgb(66, 240, 66);

}

#combo1{
  color: greenyellow;
}

#combo2{
  color: yellow;
}

#combo3{
  color: orange;
}

#combo4{
  color: red;
}

#nws1{
  color: #e94a34;
}

#nws2{
  color: #00a5a5;
}

#nws3{
  color: #fec800;
}

#combo5{
  color: red;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;
  transition: 0.3s;
}



.card-before {
  background-color: transparent;
  font-size: 2.8em;
  font-weight: 600;
}

.card-before:hover{
  transform: scale(1.1);
}

.card-after {
  background-color: transparent;
  transform: rotateY(180deg);
  cursor: default;
}
.card-container.flipped .card-before {
  transform: rotateY(180deg);
}
.card-container.flipped .card-after {
  transform: rotateY(0deg);
}
.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url('../images/background_accueil.jpg');
  top: 0;
}
button {
  border: none;
  border-radius: 0.3em;
  padding: 1em 1.5em;
  cursor: pointer;
}
#stop {
  font-size: 1.1em;
  display: block;
  margin: 1.1em auto 0 auto;
  background-color: #000000;
  color: #ffffff;
}
.controls-container button {
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}
.hide {
  display: none;
}
#resultat {
  text-align: center;
}
#resultat h2 {
  font-size: 2.5em;
}
#resultat h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}
